<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>LogFilter</filter-name>
        <filter-class>controller.filter.LogFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>controller.filter.LoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>controller.filter.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>ControllUser</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LogFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <servlet-name>AddLocation</servlet-name>
        <servlet-name>LocationDetail</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>controller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignOut</servlet-name>
        <servlet-class>controller.SignOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>controller.Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>controller.SignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddLocation</servlet-name>
        <servlet-class>controller.AddLocation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>List</servlet-name>
        <servlet-class>controller.List</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddLocation2</servlet-name>
        <servlet-class>controller.AddLocation2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LocationDetail</servlet-name>
        <servlet-class>controller.LocationDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRate</servlet-name>
        <servlet-class>controller.LocationDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAdmin</servlet-name>
        <servlet-class>controller.LoginAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllLocation</servlet-name>
        <servlet-class>controllerAdmin.ControllLocation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllUser</servlet-name>
        <servlet-class>controllerAdmin.ControllUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignOutAdmin</servlet-name>
        <servlet-class>controllerAdmin.SignOutAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignOut</servlet-name>
        <url-pattern>/SignOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddLocation</servlet-name>
        <url-pattern>/AddLocation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>List</servlet-name>
        <url-pattern>/List</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddLocation2</servlet-name>
        <url-pattern>/AddLocation2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LocationDetail</servlet-name>
        <url-pattern>/LocationDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRate</servlet-name>
        <url-pattern>/AddRate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAdmin</servlet-name>
        <url-pattern>/LoginAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllLocation</servlet-name>
        <url-pattern>/ControllLocation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllUser</servlet-name>
        <url-pattern>/ControllUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignOutAdmin</servlet-name>
        <url-pattern>/SignOutAdmin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
